.button-wrapper {
    width: 80vw;
    display: block;
    margin: 0 auto;
    padding: 100px 0 50px;
}

.selected-product-row {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-product-image {
    width: 40vw;
    height: auto;
}

.selected-product-info {
    width: 445px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-to-cart-container {
    display: flex;
}

.quantity-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
    background-color: var(--gray);
    margin-right: 10px;
}

.product-features {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

.features-container {
    width: 50vw;
}

.features-text {
    color: black;
    font-size: 15px;
    filter: opacity(.5);
    margin-top: 25px;
}

.in-the-box-container {
    margin-left: 100px;
}

.in-the-box {
    list-style: none;
}

.in-the-box li {
    font-size: 15px;
    margin-top: 10px;
    filter: opacity(.5);
    display: flex;
}

.list-highlight {
    color: var(--orange);
    font-weight: 800;
    margin-right: 20px;
}

.sub-header {
    text-align: center;
}

/* Image Collage */
.image-collage {
    width: 80vw;
    height: 585px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}

.collage-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29vw;
    height: 100%;
}

.collage-sub-image {
    width: 100%;
    height: 280px;
    display: block;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.main-collage-image {
    width: 49vw;
    height: 585px;
    display: block;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* SUGGESTED */
.sub-header {
    margin: 130px 0 50px;
}

.suggested-items {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.suggested-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 390px;
    justify-content: space-between;
}

.suggested-image {
    height: auto;
    width: 20vw;
    transform: translateY(10%);
}

.image-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 20vw;
    background-color: var(--gray);
    border-radius: 10px;
    overflow: hidden;
}